<div class="container">
    <img class="logo" src="../../assets/Logo_Portfolio_Horizontal_transparence.png" alt="DevJSP - Portfolio">
    <nav>
        <div class="container-menu"><a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Accueil</a></div>
        <div class="container-menu"> <a routerLink ="presentation" routerLinkActive="active">Présentation</a></div>
        <div class="container-menu"><a routerLink ="projets" routerLinkActive="active">Projets</a></div>
        <div class="container-menu"><a routerLink ="contact" routerLinkActive="active">Contact</a></div>
    </nav>
</div>

<div class="container-fond">

</div>