<div class="container">
    <div class="container-presentation" (click)="initialise()">
        <div class="photo" [@etatInitialisation]="initialisation"><img src="../../assets/profil.png"></div>
        <div class="presentation" [@etatInitialisation]="initialisation"><p>Julien Salgueiro Pereira, 26 ans, Gémeaux, Doggo Enthusiast.<br /><br /><br />J'aime le cinéma et surtout Wes Anderson, j'aime la musique et surtout le rap français (parfois ...), j'aime la culture japonaise et surtout les Kamehamehas.<br /><br /><br />Des fois je fais des sites internets, des logiciels ou des applications sympathiques.</p></div>
        <div class="citation1" [@etatInitialisation]="initialisation"><i>"Après nous, le déluge."</i><br /><br /><br />- Madame de Pompadour -</div>
        <div class="citation2" [@etatInitialisation]="initialisation"><i>"Rien de grand ne s'est accompli dans le monde sans passion."</i><br /><br /><br />- Georg Wilhelm Friedrich Hegel -</div>
        <div class="citation3" [@etatInitialisation]="initialisation"><i>"KONO DIO DA !"</i><br /><br /><br />- Dio Brando -</div>
        <div class="skills1" [@etatInitialisation]="initialisation">
            <h1>Compétences</h1>
        </div>
        <div class="skills2" [@etatInitialisation]="initialisation">
            <p>Acquises lors de mon cursus scolaire ou en autodidacte.</p>
        </div>
        <div class="langages" [@etatInitialisation]="initialisation">
            <h2>Langages et technologies</h2>
        </div>
        <div class="listlangages" [@etatInitialisation]="initialisation">
            <ul>
                <li><img src="../../assets/icones/icons8-typescript.svg">TypeScript</li>
                <li><img src="../../assets/icones/wlangage_bw_332x332.png">W-Langages</li>
                <li><img src="../../assets/icones/icons8-logo-java-coffee-cup.svg">Java</li>
                <li><img src="../../assets/icones/icons8-python.svg">Python</li>
                <li><img src="../../assets/icones/icons8-c++.svg">C</li>
                <li><img src="../../assets/icones/nosql databases.png">NoSQL</li>
                <li><img src="../../assets/icones/icons8-base-de-données-100.png">SQL</li>
                <li><img src="../../assets/icones/icons8-logo-php.svg">PHP</li>
                <li><img src="../../assets/icones/icons8-html-5.svg">HTML5</li>
                <li><img src="../../assets/icones/icons8-css3.svg">CSS3</li>
                <li><img src="../../assets/icones/icons8-javascript.svg">JavaScript</li>
            </ul>
        </div>
        <div class="logiciels" [@etatInitialisation]="initialisation">
            <h2>Logiciels et environnements</h2>
        </div>
        <div class="listlogiciels" [@etatInitialisation]="initialisation">
            <ul>
                <li><img src="../../assets/icones/icons8-linux-52.png">Linux</li>
                <li><img src="../../assets/icones/icons8-windows-11.svg">Windows</li>
                <li><img src="../../assets/icones/icons8-eclipse-java.svg">Eclipse</li>
                <li><img src="../../assets/icones/pcsoft_bw_180x180.png">PCSoft</li>
                <li><img src="../../assets/icones/icons8-logo-visual-studio.svg">VSCode</li>
                <li><img src="../../assets/icones/icons8-git.svg">Git</li>
                <li><img src="../../assets/icones/vim_logo_icon_144760.svg">Vim</li>
                <li><img src="../../assets/icones/icons8-libre-office-suite.svg">Libre Office</li>
            </ul>
        </div>
        <div class="autres" [@etatInitialisation]="initialisation">
            <h2>Autres compétences</h2>
        </div>
        <div class="listautres" [@etatInitialisation]="initialisation">
            <ul>
                <li><img src="../../assets/icones/icons8-système-d'information-96.png">Administration système</li>
                <li><img src="../../assets/icones/icons8-architecture-du-produit-96.png">Architecture des réseaux</li>
                <li><img src="../../assets/icones/icons8-gear-256.png">Rest</li>
                <li><img src="../../assets/icones/icons8-bootstrap.svg">Bootstrap</li>
                <li><img src="../../assets/icones/icons8-acrobaties-100.png">Agilité</li>
                <li><img src="../../assets/icones/icons8-notion.svg">Notion</li>
                <li><img src="../../assets/icones/icons8-chapeau-melon-90.png">Anglais</li>
                <br /><br /><br />
                <li><img src="../../assets/icones/unreal_bw_96x96.png">Unreal Engine</li>
                <li><img src="../../assets/icones/flstudio_bw_96x96.png">FruityLoops Studio</li>
                <li><img src="../../assets/icones/icons8-acrobaties-100.png">Faire le poirier sur une main (c'est faux)</li>
            </ul>
        </div>
    </div>
</div>