@import "../../styles.scss";

.container {
    height: 100%;
    width: 100%;
    background-color: $silver;
    padding-top: 200px;
    text-align: center;
    position: fixed;
}

h1 {
    color: $coal;
    font-size: 48px;
    margin-top: 7%;
}
